<div class='container well'>
  <div class="row ">
    <div class="col-md-5">
      <label>
        Message
        <input id='message' type='text' placeholder="Enter a message here"></input>
      </label>
      <button class='submit btn btn-xs btn-primary message-post'>Post</button>
      <button class='submit btn btn-sm btn-warning delete_all'>Delete All</button>
    </div>
  </div>
</div>
