<div class="row">
<div class="col-md-4">
  <h6>
    <small>{{this.ip}} at  <span style="color:blue"> {{this.created_at}} </span></small>
      <button class='btn btn-primary btn-xs pull-right delete' data="{{this.id}}">Delete</button>
  </h6>
  <p>
    {{this.message}}
  </p>
</div>
</div>
